@import '../../utilities/styles/colors.scss';
@import '../../utilities/styles/spacing.scss';

.OptionsContainer {
  display: flex;
  justify-content: center;
  padding-top: spacing(extraLoose);
  width: 100%;
}

@mixin BoxShadow($borderColor, $GlowColor) {
  box-shadow: 0 0 0 1px $borderColor, 0 1px 20px 0 $GlowColor;
}

@mixin BoxShadowHoverLeft($borderColor, $GlowColor) {
  box-shadow: 0 0 0 1px $borderColor, -5px 4px 20px 0 $GlowColor;
}

@mixin BoxShadowHoverRight($borderColor, $GlowColor) {
  box-shadow: 0 0 0 1px $borderColor, 5px 4px 20px 0 $GlowColor;
}

.Option {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  width: 200px;
  padding: spacing(tight) 0;
  border-radius: spacing(tight);
  text-decoration: none;

  $option-margin: spacing(loose);
  $move-on-hover: 4px;
  $transition: all ease-in-out 0.3s;

  transition: $transition;

  &:hover {
    top: -$move-on-hover;
    transition: $transition;
  }

  &:first-child {
    background: color(yellow);
    margin-right: $option-margin;
    @include BoxShadow(color(sky), color(ink, lightest));

    &:hover {
      @include BoxShadowHoverLeft(color(sky, dark), color(ink, lighter));
      background: color(yellow, dark);
    }
  }

  &:last-child {
    background: color(purple);
    margin-left: $option-margin;
    @include BoxShadow(color(ink, lightest), color(ink, lightest));

    &:hover {
      @include BoxShadowHoverRight(color(ink, lighter), color(ink, light));
      background: color(purple, dark);
    }
  }
}

.IconBottomPadding {
  padding-bottom: spacing(extraTight);
}
