@import '../../utilities/styles/shadow.scss';
@import '../../utilities/styles/colors.scss';
@import '../../utilities/styles/spacing.scss';

.Card {
  width: 100%;
  height: 100%;
  box-shadow: shadow(color(sky));
  border-radius: spacing(extraTight);
  background: white;
}