@import '../../utilities/styles/spacing.scss';
@import '../../utilities/styles/colors.scss';

.Page {
  height: 100vh;
  background: color(sky, light);
}

.PageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 40px;
  margin: 0 auto;
  max-width: 100rem;
}