@import '../../utilities/styles/colors.scss';
@import '../../utilities/styles/shadow.scss';

$switch-width: 60px;
$slider-padding: 4px;
$slider-size: 26px;
$slider-translation: $switch-width - $slider-size - ($slider-padding * 2);

$transition: 0.5s;

.Switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: 34px;
}

.Switch input {
  position: absolute;
  top: -100px;
  left: -100px;
}

.Checkbox {
  visibility: hidden;
}

.Slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  background: color(sky, dark);
  transition: $transition;
  box-shadow: shadow(color(sky, dark));
}

.Slider:before {
  content: '';
  position: absolute;
  background: white;
  border-radius: 50%;
  height: $slider-size;
  width: $slider-size;
  left: $slider-padding;
  bottom: $slider-padding;
  transition: $transition;
  box-shadow: shadow(color(sky, dark));
}

input:checked + .Slider {
  background: color(purple);
}

input:checked + .Slider:before {
  background: color(yellow);
  transform: translateX($slider-translation);
  box-shadow: shadow(color(ink, lighter));
}
