@import '../../utilities/styles/spacing.scss';

.Stack {
  display: flex;
  height: 100%;
}

.Stack__Item {
  margin: spacing(tight);
}

.Vertical {
  flex-direction: column;
}

.HorizontalFlexEnd {
  justify-content: flex-end;
}

.HorizontalCenter {
  justify-content: center;
}

.VerticalCenter {
  align-items: center;
}
