@import '../../utilities/styles/spacing.scss';

.Stack {
  display: flex;
  height: 100%;
}

.Stack__Item {
  width: 100%;
}

.Stack__Item--VerticalSpacing {
  padding-bottom: spacing();

  &:last-child {
    padding-bottom: 0;
  }
}

.Stack__Item--HorizontalSpacing {
  padding-right: spacing();

  &:last-child {
    padding-right: 0;
  }
}

.Vertical {
  flex-direction: column;
}

.HorizontalFlexEnd {
  justify-content: flex-end;
}

.HorizontalCenter {
  justify-content: center;
}

.HorizontalSpaceBetween {
  justify-content: space-between;
}

.VerticalCenter {
  align-items: center;
}
